$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$greyText: #b3b3b3;
$greyNav: #090909;
$greenMain: #1db954;

@font-face {
  font-family: circular-book;
  src: url(./fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: circular-book;
  src: url(./fonts/CircularStd-Bold.otf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: circular-book;
}

.App {

  height: calc(100vh - 90px);
  background: $greyLight;
  display: flex;
}

.navBar {
  width: 260px;
  height: 100%;
  background: $greyDark;
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
  .logo {
    padding: 1rem 0.8rem;
    svg {
      max-width: 130px;
      path {
        fill: white;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      color: $greyText;
      list-style-type: none;
      border-radius: 5px;
      padding: 0.5rem 0.8rem;
      font-size: 0.9rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      font-family: circular-bold;
      display: flex;
      align-items: center;
      svg {
        fill: currentColor;
        margin-right: 15px;
      }
      &.active {
        background: $greyLighter;
      }
      &:hover {
        color: white;
      }
    }
  }
  .cookies {
    font-size: 0.6rem;
    color: $greyText;
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    span {
      display: block;
    }
  }
}

.outerWrap {
  background: gray;
  height: 100vh;
  min-height: 100%;
}

.musicControls {
  background: $greyLighter;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
  position: relative;
}

.upperNav {
  background: $greyNav;
  height: 56px;
  width: auto;
  display: flex;
  align-items: center;
  color: white;
  padding: 0.5rem 2rem;
}

.main {
  width: 100%;
  .mainContent {
    color: white;
    padding: 0.5rem 2rem;
    h1 {
      font-size: 1.5rem;
    }
  }
}

.cardsWrap {
  .card {
    background: $greyLighter;
    border-radius: 10px;
    width: 160px;
    overflow: hidden;
    padding: 1.2rem 1.2rem 0.8rem;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
    position: relative;
    &:hover {
      .playIcon {
        opacity: 1;
      }
    }
    .cardImage {
      height: 160px;
      box-shadow: 0 10px 30px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .cardContent {
      padding: 0.4rem 0;
      h3 {
        font-weight: 600;
        font-size: 0.9rem;
        margin-bottom: 0;
        letter-spacing: 0.6px;
      }
    }
  }
}

.playIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  background: $greenMain;
  margin-left: auto;
  opacity: 0;
  svg {
    margin: auto;
  }
}